/* header*/
.menu-bar {
	height: 100%;
/*	to center menu-bar */
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
    padding-left: 154px;
	padding:0;
}

.menu {
	height: 42px;
	width: max-content;
	border: none;
	padding: 0px;
	display: flex;
}

.left-menu {
	margin-right: 35px;
    padding-top: 5px;
}

.nct-image {
	padding: 6px 8px 6px 0px;
	height: 40px;
	width: 65px;
}
  .ic_store-image{
    height: 26px;
    margin: 10px 10px;
  }
  .ic_upload-image{
    height: 26px;
    margin: 10px 10px 10px 0;
  }
  .input-group-prepend{
   font-size: 0.8rem;
  }
  .button-signin-item{
	  margin-top: 9px;
	  margin-left: 10px;
  }
.signin-link{
    text-decoration: none;
    color: gray;
	font-size: 0.9rem;
}
.button-signup-item{
	height: 30px;
	width: 80px;
	border-radius: 5px;
	background-image: linear-gradient(45deg, #2f80ed 0%, #00aeef 100%);
	margin : 8px 0 0 5px;
}
.signup-link{
	color: white;
	padding-left: 12px;
    text-decoration: none;
	font-size: 0.9rem;
}

.nct-image-link {
	padding-right: 5px;
}

.submenu {
	width: max-content;
	height: 44px;
	padding: 0px 16px 8px 0px;
	font-size: 15px;
	font-weight: 300;
	font-family: sans-serif;

}

.submenu-8 {
	padding-left: 9px;
}

.title-submenu-box {
	width: 100%;
	height: 100%;
	/* to center the title in submenu box */
	display: flex;
	align-items: center;
}

.submenu:hover {
	position: relative;
}
.hidden-menu {
	display: none;
	flex-direction: row;
	width: max-content;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: 1px 1px rgba(0,0,0,0.1);
	position: absolute;
	padding-top: 15px;
	top: 97%;
}

.submenu:hover .title-submenu {
	color: #2daaed;
}
.submenu:hover .hidden-menu {
	display: flex;
}

.submenu a {
	color: #222;
	text-decoration: none;
}
.submenu a:hover {
	color: #2daaed;
}

.list{
	list-style: none;
	padding-left: 50px;
}

.list-1 {
	padding-left: 20px;
}

.hidden-menu:last-child {
	padding-right: 20px;
}


.list li {
	margin-bottom: 15px;
	
}

.list li:first-child {
	font-weight: bold;
}

.submenu-icon {
	padding-right: 22px;
}


.submenu-icon:hover .title-submenu {
	color: #999;
}
.hidden-menu-icon {
	width: max-content;
	border-radius: 8px 8px;
	padding: 0px !important;
	left: -15px;
}

.list-icon {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.list-icon li {
	width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    border-bottom: 1px solid #DDD;
}


.list-icon li:last-child {
	border-bottom: 0px;
}
}
/* main left box 1*/
.main{
	width: 100%;
	height: 100%;
}
.box-container{
	height: 100%;
}
.box-container .box-left{
	width: 60%;
	margin-left: 150px;
	float: left;
}
.box-left .box_cata_control{
	float: left;
	margin: 0;
	margin-top: 10px;
}
.detail_menu_browsing_dashboard{
	width: 840px;
	float: left;
	margin-bottom: 10px;
}
.detail_menu_browsing_dashboard .cate{
    height: 70px;
	text-decoration: none;
}
.detail_menu_browsing_dashboard h3{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	cursor:context-menu;
}

.detail_menu_browsing_dashboard  li{
text-decoration: none;
list-style-type: none!important;
width: 160px;
float: left;
margin-bottom: 10px;
}
.detail_menu_browsing_dashboard  a:hover{
	background-color: #e74c3c;
	color: white;
}
.detail_menu_browsing_dashboard li a{
	text-decoration: none;
	line-height: 22px;
	color: black;
	width: auto;
	border-radius: 5px;
	background-size: 17px auto;
	padding: 3px 5px 3px 5px;
	float: left;
	display: list-item;
}
.detail_menu_browsing_dashboard li span{
	float: left;
	font-size: 15px;
	margin-top: 9px;
}
.detail_menu_browsing_dashboard li a.active{
	background-color: #e74c3c;
	color: white;

}
.cate a:hover{
	background-color: white;
}
.detail_menu_browsing_dashboard .line{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	height: 1px;
	margin-bottom: 10px;
}
.view_more_list {

}
 .dot_more{
	position: absolute;
	margin-top: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: none;
	background-color: white;
}

.detail_menu_browsing_dashboard li:hover .dot_more{
	display:block;
}
#listchild_aumy{
	cursor: pointer;
	color: #999;

}
#listchild_aumy:hover{
	color: white;
}

.dot_more a:hover{
	background-color: white;
	color: #e74c3c;
}
/* Main left box 2 */
.album__container{
	float: left;
}
.title_box_key_left>h1>a{
	color: #2daaed;
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;

}
.list-album {
	font-weight: 300;
	width: 800px;
	height: max-content;
	margin-bottom: 10px;

}

.list-album-content-box {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}

.list-album-content {
	margin-right: 19px;
	display: list-item;
}
.list-album-content:hover .overlay-hover{
    display: flex;
    align-items: center;
    cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	transition: all 0.5s;
}
.list-album-content a {
	text-decoration: none;
}


.list-album-image {
	margin-bottom: 10px;
	position: relative;
}
.overlay-hover{
	width: 100%;
	height: 100%;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: whitesmoke;
	display: none;
} 
.the-name-song-list-album-link{
	color: black;
	font-size: 16px;
}
.name-singer-top-music{
	color: black;
	font-size: 12px;
}


/* css box-right */
.box-right{
	float: left;
	margin-top: 15px;

}

.title_box_key_right>h3>a{
	text-decoration: none;
	font-size: 30px;
	font-weight: 300;
	color: #2daaed;
}
.list-singer-content-box{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
}
.list-singer-content{
	display: list-item;
}
.list-singer-content:hover .overlay-hover-1{
    display: flex;
    align-items: center;
    cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	transition: all 0.5s;
}
.list-singer-content a {
	text-decoration: none;
}
.list-singer-image{
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}
.overlay-hover-1{
	width: 100%;
	height: 100%;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: whitesmoke;
	display: none;
}
.info-name-singer{
	color: whitesmoke;
	font-size: 30px;
}
.info-name-singer:hover{
	color: whitesmoke;
}
.info-name-singer-2{
	color: whitesmoke;
}
.info-name-singer-2:hover{
	color: whitesmoke;
}