.list-album-image {
    height: 145px;
    width: 145px;
    background-size: cover;
}

.angle-right-Chrismas {
    left: 240px;
}

.overlay-hover {
    display: none;
}

.list-album-image:hover .overlay-hover {
    display: block;
}


/* .list-album-image:hover .overlay-hover {
    opacity: 1;
} */

.list-album-image:hover .play-icon-mv-1 {
    transform: scale(0.7);
    color: white;
}

.Chrismas-Pop {
    background-image: url('./slide-default/chrismas1.png');
}

.All-I-Want-For-Chrismas {
    background-image: url('./chrismas day/merry-christmas-happy-new-year-2021-greeting-card_155957-327.jpg');
}

.Its-Chrismas-Time {
    background-image: url('./chrismas day/christmas\ 2.jpg');
}

.Chrimas-Coffeehouse {
    background-image: url('./chrismas day/christmas3.jpg');
}

.Merry-Chrimas {
    background-image: url('./chrismas day/christmas4.jpg');
}

.Chill {
    background-image: url('./slide-default/chill.jpg');
}

.Pure-piano {
    background-image: url('./slide-default/pure.jpg');
}

.Relax {
    background-image: url('./slide-default/relax.jpg');
}

.Peaceful {
    background-image: url('./slide-default/peaceful.jpg');
}

.collection {
    background-image: url('./slide-default/collection.jpg');
}

.Sun {
    background-image: url('./slide-default/sun.jpg');
}

.Young {
    background-image: url('./slide-default/young.jpg');
}

.The-Past {
    background-image: url('./slide-default/the-past.jpg');
}

.Tear {
    background-image: url('./slide-default/tear.webp');
}

.Staunch {
    background-image: url('./slide-default/stauch.jpg');
}

.King {
    background-image: url('./slide-default/king.jpg');
}

.we {
    background-image: url('./slide-default/da-lab.jpg');
}

.tiny-love {
    background-image: url('./slide-default/tiny.jpg');
}

.walking-through {
    background-image: url('./slide-default/through.jpg');
}

.twenty-three {
    background-image: url('./slide-default/23.jpg');
}

.chrismas-day {
    background-image: url('./slide-default/come.jpg');
}

.Taylor {
    background-image: url('./slide-default/well.jpg');
}

.Merry {
    background-image: url('./slide-default/merry.jpg');
}

.Sheeran {
    background-image: url('./slide-default/ed.jpg');
}

.jessi {
    background-image: url('./slide-default/jessi.png');
}