/* header*/
.header{
	z-index: 199;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
}
.menu-bar {
	height: 100%;
/*	to center menu-bar */
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
    padding-left: 154px;
	padding:0;
}

.menu {
	height: 42px;
	width: max-content;
	border: none;
	padding: 0px;
	display: flex;
}

.left-menu {
	margin-right: 35px;
    padding-top: 5px;
}

.nct-image {
	padding: 6px 8px 6px 0px;
	height: 40px;
	width: 65px;
}
  .ic_store-image{
    height: 26px;
    margin: 10px 10px;
  }
  .ic_upload-image{
    height: 26px;
    margin: 10px 10px 10px 0;
  }
  .input-group-prepend{
   font-size: 0.8rem;
  }
  .button-signin-item{
	  margin-top: 9px;
	  margin-left: 10px;
  }
.signin-link{
    text-decoration: none;
    color: gray;
	font-size: 0.9rem;
}
.button-signup-item{
	height: 30px;
	width: 80px;
	border-radius: 5px;
	background-image: linear-gradient(45deg, #2f80ed 0%, #00aeef 100%);
	margin : 8px 0 0 5px;
}
.signup-link{
	color: white;
	padding-left: 12px;
    text-decoration: none;
	font-size: 0.9rem;
}

.nct-image-link {
	padding-right: 5px;
}

.submenu {
	width: max-content;
	height: 44px;
	padding: 0px 16px 8px 0px;
	font-size: 15px;
	font-weight: 300;
	font-family: sans-serif;

}

.submenu-8 {
	padding-left: 9px;
}

.title-submenu-box {
	width: 100%;
	height: 100%;
	/* to center the title in submenu box */
	display: flex;
	align-items: center;
}

.submenu:hover {
	position: relative;
}
.hidden-menu {
	display: none;
	flex-direction: row;
	width: max-content;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: 1px 1px rgba(0,0,0,0.1);
	position: absolute;
	padding-top: 15px;
	top: 97%;
	z-index: 1 !important;
}

.submenu:hover .title-submenu {
	color: #2daaed;
}
.submenu:hover .hidden-menu {
	display: flex;
}

.submenu a {
	color: #222;
	text-decoration: none;
}
.submenu a:hover {
	color: #2daaed;
}

.list{
	list-style: none;
	padding-left: 50px;
}

.list-1 {
	padding-left: 20px;
}

.hidden-menu:last-child {
	padding-right: 20px;
}


.list li {
	margin-bottom: 15px;
	
}

.list li:first-child {
	font-weight: bold;
}

.submenu-icon {
	padding-right: 22px;
}


.submenu-icon:hover .title-submenu {
	color: #999;
}
.hidden-menu-icon {
	width: max-content;
	border-radius: 8px 8px;
	padding: 0px !important;
	left: -15px;
}

.list-icon {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.list-icon li {
	width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    border-bottom: 1px solid #DDD;
}


.list-icon li:last-child {
	border-bottom: 0px;
}
/* css main*/
.main-box-top{
	margin-top: 53px;
}
.carousel-item p{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}
.box-content {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.content-wrap {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}
.list_topic_full {
    width: 1170px;
    float: left;
    margin-bottom: 10px;
}
.title_box_key {
    width: 100%;
    float: left;
	margin-top: 15px;
}
.title_box_key h1{
    float: left;
    display: block;
    width: auto;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 10px 0;
    color: #23262d;
}
.title_box_key h1 a{
    color: #2daaed;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) right -155px no-repeat;
    text-transform: uppercase;
    padding: 0 20px 0 0;
    font-weight: 400 !important;
	text-decoration: none;
}
.topic_more {
    float: left;
    width: 1170px;
    padding: 0 0 10px 0;
}
.fram_select {
    width: 1170px;
    float: left;
    overflow: hidden;
}
.topic_more ul {
    float: left;
    width: 1200px;
    padding: 0px 0 0 0;
}
.topic_more ul li {
    float: left;
    width: 368px;
    padding: 0px 0px 5px 0px;
    margin-right: 27px;
	list-style: none;
}
.box_info_show {
    margin: 40px 0px 0 375px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 0px;
    width: 300px;
    box-shadow: 0 3px 8px rgb(#333);
    position: absolute;
    z-index: 200;
}
.dot_show_menu {
    background: url(https://stc-id.nixcdn.com/v11/images/dot_show_menu_left.png);
    width: 13px;
    height: 24px;
    position: absolute;
    margin: 20px 0 0 -12px;
}
.box-info-detail {
    float: left;
    padding: 10px;
}
.box-info-detail h3 {
    float: left;
    width: 100%;
    font-size: 18px;
    padding: 0 0 5px 0;
	font-weight: normal;
}
.box-info-detail p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #555555;
    line-height: 1.5;
	text-align: justify;
}
@keyframes fadeIn {
	0%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
.box_absolute {
    position: relative;
    width: 368px;
    display: block;
    background: #000000;
}
.box_absolute:hover .overlay-hover{
    display: flex;
    align-items: center;
    cursor: pointer;
	background-color: rgba(0,0,0,0.6);

}
.overlay-hover{
	width: 100%;
	height: 100%;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: whitesmoke;
	display: none;
	animation: fadeIn 0.25s ease-in;
} 
.box_info_show{
	display: none;
}
.fram_select li:hover .box_info_show {
	display: flex;
    cursor: pointer;
	display: block;
	animation: fadeIn 0.25s ease-in;
}
.topic_more img{
	width: 368px;
	max-width: 100%;
	border: 0;
}

.topic_more ul li ul {
    float: left;
    width: 368px;
    padding: 0px 0 0 0;
	border: 1px solid #d9d9d9;
}
.title_choose li{
    float: left;
    width: 368px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    border: 0px solid #d9d9d9;
    box-shadow: none;
}
.name_song{
	text-decoration: none;
	float: left;
    font-size: 14px;
    color: #555555;
    line-height: 16px;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 10px -915px no-repeat;
    padding: 8px 10px 2px 20px;
    width: 348px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-weight: normal;
}
.posleft{
	margin: 40px 0px 0 -308px;
}
.posleft .dot_show_menu {
    background: url(https://stc-id.nixcdn.com/v11/images/dot_show_menu_right.png);
    width: 13px;
    height: 24px;
    position: absolute;
    margin: 20px 0 0 300px;
}
/* css footer */
.footer{
	width: 100%;
	float: left;
	background-color: #f5f5f5;
	display: block;
	margin-top: 100px;
}
/*list-cooperation*/
.list-cooperation {
	background-color: #efefef;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}

.list-cooperation-box {
	display: flex;
	flex-direction: column;
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
}

.titile-list-cooperation {
	text-transform: uppercase;
	float: left;
    font-size: 14px;
    color: rgba(0,0,0,0.88);
    font-weight: bold;
    text-transform: uppercase;
    margin: 16px 0px 0px 0px;
}

.list-cooperation-logo-box {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 28px;
	position: relative;
}
.list-cooperation-logo-box a {
	text-decoration: none;

}

.button {
	height: 56px;
	width: 56px;
	background-color: rgba(255,255,255,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	position: absolute;

}

.button a {
	color: rgba(0,0,0,0.5);
}

.left-button {
	left: -37px;
	top: 25%;
}

.right-button {
	right: -30px;
	top: 25%;
}


.list_cooperation-icon {
	font-size: 2.3em !important;
}

/*support-footer*/
.support-footer {
	width: 100%;
	float: left;
}
.support-footer-box {
	height: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: #ccc solid 1px;
	margin-bottom: 40px;
	
}
.navigation {
    width: calc(33.333333% - 48px);
    float: left;
    margin: 0 ;
}
.navigation-1{
	margin-left: 170px;
}
.navigation-title {
	margin: 40px 0px 8px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;

}
.navigation-list-box {
	padding: 0;
	display: flex;
	width: 100%;
	margin: 0px;
}
.navigation-list-box li {
	width: 50%;
	list-style: none;
	position: relative;
	padding: 11px 15px;
}

.navigation-list-box a {
	float: left;
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}

.navigation-list-box a:hover {
	color: #2daaed;
}

.navigation-icon {
	opacity: 0.3;
	position: absolute;
    top: 15.4px;
    left: 0px;
    font-size: 0.7em !important;
}
.hot-keyword{
	width: calc(33.333333%);
	float:left;
}
.hot-keyword-title {
	margin: 40px 0px 8px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.hot-keyword-title-2 {
	margin: 15px 0px 16px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.keywords-box a{
	font-size: 14px;
	color: #2daaed;
	text-decoration: none;	
	display: inline-block;
}

.logo-in-keyword-box {
	float: left;
	width: 100%;
	margin-bottom: 16px;

}

.logo-in-keyword-box a {
	text-decoration: none;
}

.logo-in-keyword-box img {
	width: 32px;
	margin-right: 10px;
}


.logo-in-keyword-box-2 {
	margin-bottom: 40px;
}

.logo-in-keyword-box-2 img {
	width: 108px;
	height: 32px;
}

/*company-info*/

.company-info {
	margin-bottom: 20px;
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
}
.company-info-box {
	width: 1139px;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.nct-company-logo {
    width: 80px;
    height: 96px;
    background: url(https://stc-id.nixcdn.com/v11/images/footer/t_logo_company.png) center center no-repeat;
    background-size: contain;
    margin: 0 25px 0 0;

}
.company-info-detail {
	width: 758px;
	color: #909090;
	font-size: 13px;
	margin-right: 10px;

}
.detail-name {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0px 17px 0px;
	font-size: 16px;
}

.detail-company {
	margin-bottom: 5px;
	font-size: 13px;
	color: #909090;
	line-height: 22px;
}

.bo-cong-thuong-logo {
    width: 120px;
    height: 126px;
    background: url('https://stc-id.nixcdn.com/v11/images/footer/t_bo_cong_thuong.png') center center no-repeat;
    background-size: contain;
    margin: 0 25px 0 0;
}

.DMCA-logo {
    width: 120px;
	height: 126px;
	background: url('https://stc-id.nixcdn.com/v11/images/footer/t_dmca.png') center center no-repeat;
	background-size: contain;
}

/*copy-right*/
.copyright {
	width: 100%;
	height: 64px;
	background: rgb(47,128,237);
	background: linear-gradient(90deg, rgba(47,128,237,1) 0%, rgba(0,174,239,1) 100%);

	display: flex;
	justify-content: center;
}

.copyright-box {
	width: 1139px;
	height: 100%;

}

.copyright-box a {
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	font-weight: 300;
	display: flex;
	align-items: center;
	margin-right: 26px;
	float: left;
	padding-top: 20px;
	transition: all 0.2s linear;
}

.copyright-box a:hover {
	color: #2daaed;
}

.copyright-icon {
	font-size: 1.6em;
	margin-right: 8px;
}
.copyright-note {
	float: right;
	font-size: 13px;
	color: #fff;
	font-weight: 300;
	padding-top: 23px;
}